@model PagedList.IPagedList<QLXe.Models.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách slide</h2>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm())
{
    <div>
        Tìm kiếm: @Html.TextBox("SearchString", ViewBag.currentFilter as string)
        <button type="submit" style="border: none"><i class="mdi mdi-magnify fs-4"></i></button>
    </div>
}
<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên xe
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.TenXe)
            </td>
            <td>
                @{
                    string ImagePath3 = "~/wwwroot/Images/" + Html.DisplayFor(modelItem => item.Slide1);
                }
                <img src="@Url.Content(ImagePath3)" width="100" />
            </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.currentFilter }))