@model IEnumerable<QLXe.Models.DanhMuc>

@{
    // Tạo một Dictionary để lưu tổng số lượng của mỗi sản phẩm
    Dictionary<int, int> tongSoLuongSanPham = new Dictionary<int, int>();
    var SanPhamList = Model.Where(d => d.SanPham != null).SelectMany(d => d.SanPham).ToList();
    // Tính tổng số lượng của mỗi sản phẩm từ bảng ChiTietDonHang
    foreach (var sanPham in SanPhamList)
    {
        int? tongSoLuong = 0;
        foreach (var chiTiet in sanPham.ChiTietDonHang)
        {
            tongSoLuong += chiTiet.SoLuong;
        }
        // Kiểm tra nếu tổng số lượng là null thì gán giá trị mặc định là 0
        tongSoLuongSanPham.Add(sanPham.ID, tongSoLuong ?? 0);
    }

    // Sắp xếp danh sách sản phẩm theo thứ tự giảm dần của tổng số lượng
    var sortedProducts = SanPhamList.OrderByDescending(sp => tongSoLuongSanPham[sp.ID]);
    var firstEightProducts = sortedProducts.Take(8);
    var newProducts = SanPhamList.Where(sp => sp.DonNhapHang.Any()).OrderByDescending(sp => sp.DonNhapHang.Max(s => s.NgayNhap));
    var FirstEightNewProduct = newProducts.Take(8);
}

<div class="mian">
    <div class="content-top">
        <div class="sellers">
            <h4><span>Sản phẩm bán chạy</span></h4>
        </div>
        <div class="section group">
            @foreach (var item in firstEightProducts)
            {
                <div class="col_1_of_4 span_1_of_4" style="margin-left: 0px; margin-right:1.2%">
                    <div class="product-desc" style="height: 350px">
                        @{
                            var anhPhai = item.HinhAnh.FirstOrDefault(h => h.ID_SanPham == item.ID)?.AnhPhai;
                            string ImagePath = "~/wwwroot/Images/" + anhPhai ?? "no_image.jpg";
                        }
                        <img src="@Url.Content(ImagePath)" alt="" />

                        <h4 style="height: 100px;">@Html.DisplayFor(modelItem => item.TenXe)</h4>
                    </div>
                    <div class="prod-inner" style="height: 100px;">
                        <span class="price"><del>@string.Format("{0:N0} VND", item.GiaBan)</del></span>
                        <span class="price">@string.Format("{0:N0} VND", item.GiaBan * (100 - item.KhuyenMai.PhanTramGiamGia) / 100)</span>
                        <a href="@Url.Action("ChiTietSanPham","SanPhams",new { id = item.ID })" class="button" rel="nofollow">Xem chi tiết</a>
                        <div class="clear"></div>
                    </div>
                </div>
            }
            <div class="clear"></div>
        </div>
    </div>
    <div class="content-top">
        <div class="sellers">
            <h4><span>Sản phẩm mới về</span></h4>
        </div>
        <div class="section group">
            @foreach (var item2 in FirstEightNewProduct)
            {
                <div class="col_1_of_4 span_1_of_4" style="margin-left: 0px; margin-right:1.2%">
                    <div class="product-desc" style="height: 350px">
                        @{
                            var anhPhai = item2.HinhAnh.FirstOrDefault(h => h.ID_SanPham == item2.ID)?.AnhPhai;
                            string ImagePath = "~/wwwroot/Images/" + anhPhai ?? "no_image.jpg";
                        }
                        <img src="@Url.Content(ImagePath)" alt="" />

                        <h4 style="height: 100px;">@Html.DisplayFor(modelItem => item2.TenXe)</h4>
                    </div>
                    <div class="prod-inner" style="height: 100px;">
                        <span class="price"><del>@string.Format("{0:N0} VND", item2.GiaBan)</del></span>
                        <span class="price">@string.Format("{0:N0} VND", item2.GiaBan * (100 - item2.KhuyenMai.PhanTramGiamGia) / 100)</span>
                        <a href="@Url.Action("ChiTietSanPham","SanPhams",new { id = item2.ID })" class="button" rel="nofollow">Xem chi tiết</a>
                        <div class="clear"></div>
                    </div>
                </div>
            }
            <div class="clear"></div>
        </div>
    </div>
    <div class="content-bottom">
        <div style="width:30%; padding-left:35%">
            <div class="banner-wrap bottom_banner">
                <a href="#" class="main_link">
                    <figure><img src="images/phone.png" alt=""></figure><h5 style="text-align:center">Đặt mua online xác nhận qua số điện thoại<br><span>094 491 95 35</span></h5><p>
                        Thời gian: 8am-11pm từ thứ 2- thứ 7 hằng tuần<br>
                    </p>
                </a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

