@model IEnumerable<QLXe.Models.DanhMuc>
@{
    ViewBag.Title = "TheoDanhMuc1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var danhMucList = Model.Where(s => s.ID_DanhMuc == ViewBag.ID).ToList();
    var danhMuc = Model.FirstOrDefault(s => s.ID == ViewBag.ID);
}
<div class="main">
    <div class="sellers">
        <h4><span>@danhMuc.TenDanhMuc</span></h4>
    </div>
    @foreach (var item in danhMucList)
    {
        <div class="content-top">
            <div class="sellers">
                <h4><span>@item.TenDanhMuc</span></h4>
            </div>
            <div class="section group">
                @foreach (var item2 in item.SanPham.ToList())
                {
                    <div class="col_1_of_4 span_1_of_4" style="margin-left: 0px; margin-right:1.2%">
                        <div class="product-desc">
                            @{
                                var anhPhai = item2.HinhAnh.FirstOrDefault(h => h.ID_SanPham == item2.ID)?.AnhPhai;
                                string ImagePath = "~/wwwroot/Images/" + anhPhai ?? "no_image.jpg";
                            }
                            <img src="@Url.Content(ImagePath)" alt="" />

                            <h4 style="height: 100px;">@Html.DisplayFor(modelItem => item2.TenXe)</h4>
                        </div>
                        <div class="prod-inner">
                            <span class="price"><del>@string.Format("{0:N0} VND", item2.GiaBan)</del></span>
                            <span class="price">@string.Format("{0:N0} VND", item2.GiaBan * (100 - item2.KhuyenMai.PhanTramGiamGia) / 100)</span>
                            <a href="@Url.Action("ChiTietSanPham","SanPhams",new { id = item2.ID })" class="button" rel="nofollow">Xem chi tiết</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
                <div class="clear"></div>
            </div>
        </div>
    }
</div>