
@{
    Layout = null;
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template" />
    <meta name="description"
          content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Trang đăng nhập</title>
    <!-- Favicon icon -->
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/Assets/admin/assets/images/logoicon.png" />
    <!-- Custom CSS -->
    <link href="/Assets/admin/dist/css/style.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="main-wrapper">
        @ViewBag.error
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="
          auth-wrapper
          d-flex
          no-block
          justify-content-center
          align-items-center
          bg-dark
        ">
            <div class="auth-box bg-dark border-top border-secondary">
                <div id="loginform">
                    <div class="text-center pt-3 pb-3">
                        <span class="db">
                            <a href="@Url.Action("Index","Home", new { area = "" })"><img src="~/Assets/admin/assets/images/logo-text.png" alt="logo" /></a>
                        </span>
                    </div>
                    <!-- Form -->
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row pb-4">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white h-100"
                                              id="basic-addon1">
                                            <i class="mdi mdi-account fs-4"></i>
                                        </span>
                                    </div>
                                    <input type="text"
                                           class="form-control form-control-lg"
                                           placeholder="Username or Email"
                                           aria-label="Username"
                                           aria-describedby="basic-addon1"
                                           required=""
                                           name="Username" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning text-white h-100"
                                              id="basic-addon2">
                                            <i class="mdi mdi-lock fs-4"></i>
                                        </span>
                                    </div>
                                    <input type="text"
                                           class="form-control form-control-lg"
                                           placeholder="Password"
                                           aria-label="Password"
                                           aria-describedby="basic-addon1"
                                           required=""
                                           name="Password" />
                                </div>
                            </div>
                        </div>
                        <div class="row border-top border-secondary">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="pt-3">

                                        <button class="btn btn-info"
                                                id="to-recover"
                                                type="button" style="padding: 7px 0px">
                                            <i class="mdi mdi-lock fs-4 me-1"></i> Quên mật khẩu?
                                        </button>
                                        <a style="width: 130px; padding: 10px 10px;" class="btn btn-success text-white" href="@Url.Action("Index", "DangKy", new { area = "Admin" })">Đăng ký</a>
                                        <button style="padding: 10px 10px; margin: 0px 5px;" class="btn btn-success float-end text-white"
                                                type="submit">
                                            Đăng nhập
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div id="recoverform" style="display: none;">
                    <div class="text-center">
                        <span class="text-white">
                            Nhập địa chỉ Email của bạn để lấy lại mật khẩu
                        </span>
                    </div>
                    <div class="row mt-3">
                        
                        <!-- Form -->
                        <form class="col-12" action="index.html">
                            <!-- email -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger text-white h-100"
                                          id="basic-addon1">
                                        <i class="mdi mdi-email fs-4"></i>
                                    </span>
                                </div>
                                <input type="text"
                                       class="form-control form-control-lg"
                                       placeholder="Email Address"
                                       aria-label="UsernameRPW"
                                       aria-describedby="basic-addon1" />
                            </div>
                            <!-- pwd -->
                            <div class="row mt-3 pt-3 border-top border-secondary">
                                <div class="col-12">
                                    <a class="btn btn-success text-white"
                                       href="#"
                                       id="to-login"
                                       name="action">Trở lại đăng nhập</a>
                                    <button class="btn btn-info float-end"
                                            type="button"
                                            name="repassword">
                                        Lấy lại mật khẩu
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>


    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/Assets/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/Assets/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $("#to-recover").on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $("#to-login").click(function () {
            $("#recoverform").hide();
            $("#loginform").fadeIn();
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('button[name="repassword"]').click(function (e) {
                e.preventDefault(); // Ngăn chặn hành vi mặc định của nút

                var emailAddress = $('input[aria-label="UsernameRPW"]').val();

                // Thực hiện AJAX request
                $.ajax({
                    type: 'POST',
                    url: '/Login/Repassword', // Đường dẫn đến action Repassword trong controller LoginController
                    data: { email: emailAddress }, // Dữ liệu gửi đi với request, ở đây là địa chỉ email
                    success: function (response) {
                        if (response.success) {
                            alert(response.message); // Hiển thị thông báo thành công từ server
                        } else {
                            alert(response.message); // Hiển thị thông báo lỗi từ server
                        }
                    },
                    error: function () {
                        alert('Đã xảy ra lỗi trong quá trình xử lý yêu cầu.'); // Xử lý lỗi khi gửi request
                    }
                });
            });

        });
        @if (ViewBag.TaoTaiKhoan != null)
        {
            <text>
                alert("@Html.Raw(ViewBag.TaoTaiKhoan)");
            </text>
            // Reset ViewBag.TaoTaiKhoan để không hiển thị lại khi tải lại trang
            ViewBag.TaoTaiKhoan = null;
        }
    </script>

</body>
</html>
